<mat-drawer-container class="example-container">
  <mat-drawer-content>
    <div
      class="h-screen bg-no-repeat bg-cover bg-center bg-fixed bg-[url('juzik.jpg')] rounded-[30px]"
    >
      <div class="flex flex-row">
        <div *ngFor="let date of dates; let i = index">
          <div [ngSwitch]="i">
            <div class="h-auto w-[200px] m-3 bg-[#f2f4f5] rounded-[30px]">
              <div class="flex">
                <span class="m-5 block text-sm font-semibold">
                  <div *ngSwitchCase="0">Today</div>
                  <div *ngSwitchCase="1">Tomorrow</div>
                  <div *ngSwitchDefault>
                    {{ date | date : "EEEE" }}
                  </div>
                </span>

                <span
                  class="p-5 block text-sm font-semibold ml-auto text-black"
                  >{{ getCountByDate(date) }}</span
                >
              </div>
              <div class="flex flex-col mx-5">
                <div *ngFor="let task of tasks | orderby : 'itemIndex'">
                  <div *ngIf="task.date.getDate() == date.getDate()">
                    <div class="border-2 mb-2 rounded-[10px] flex">
                      <button
                        class="mx-1 mt-4 w-5 h-5 rounded-full border-2 border-grey-500"
                      ></button>
                      <div class="mt-3 ml-2">
                        <div class="flex flex-col">
                          <span class="">{{ task.label.name }}</span>
                          <h4 class="">{{ task.name }}</h4>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <button
                  class="w-auto h-12 border-2 border-grey-500 mb-2 rounded-[10px]"
                ></button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </mat-drawer-content>
  <mat-drawer #sideNav mode="side" opened="true" position="end">
    <app-habit-list></app-habit-list>
  </mat-drawer>
</mat-drawer-container>
