<div>
  <h1 class="text-2xl font-bold mb-8">Task</h1>
  <form [formGroup]="taskForm" (submit)="create()">
    <div class="relative z-0 w-full mb-5">
      <input
        type="text"
        name="title"
        placeholder=" "
        required
        formControlName="name"
        class="pt-3 pb-2 block w-full px-0 mt-0 bg-transparent border-0 border-b-2 appearance-none focus:outline-none focus:ring-0 focus:border-black border-gray-200"
      />
      <label
        for="title"
        class="absolute duration-300 top-3 -z-1 origin-0 text-gray-500"
        >Enter title</label
      >
      <span class="text-sm text-red-600 hidden" id="error"
        >Title is required</span
      >
    </div>

    <div class="relative z-0 w-full mb-5">
      <input
        type="text"
        name="notes"
        placeholder=" "
        formControlName="notes"
        class="pt-3 pb-2 block w-full px-0 mt-0 bg-transparent border-0 border-b-2 appearance-none focus:outline-none focus:ring-0 focus:border-black border-gray-200"
      />
      <label
        for="notes"
        class="absolute duration-300 top-3 -z-1 origin-0 text-gray-500"
        >Enter notes</label
      >
    </div>

    <div class="relative z-0 w-full mb-5">
      <select
        name="select"
        formControlName="labelId"
        class="pt-3 pb-2 block w-full px-0 mt-0 bg-transparent border-0 border-b-2 appearance-none z-1 focus:outline-none focus:ring-0 focus:border-black border-gray-200"
      >
        <option value="" selected disabled hidden></option>
        <option *ngFor="let label of labels" [ngValue]="label.id">
          {{ label.name }}
        </option>
      </select>
      <label
        for="select"
        class="absolute duration-300 top-3 -z-1 origin-0 text-gray-500"
        >Select an option</label
      >
      <span class="text-sm text-red-600 hidden" id="error"
        >Option has to be selected</span
      >
    </div>

    <button
      type="submit"
      class="w-full px-6 py-3 mt-3 text-lg text-white transition-all duration-150 ease-linear rounded-lg shadow outline-none bg-pink-500 hover:bg-pink-600 hover:shadow-lg focus:outline-none"
    >
      Create task
    </button>
  </form>
</div>
